<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8XFDRFPLL9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8XFDRFPLL9');
  </script>

  <meta charset="UTF-8">
  <title>Little Rats!</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!--  mobile responsiveness-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>

<div class="page">

  <nav>
    <img src="{{url_for('static', filename='assets/logo.png') }}" alt="Logo" id="logo">

    <div id="navbar">
      <ul id="site-nav">
        <li><a href="/">home</a></li>
        <li><a href="/lists">Lookup</a></li>
        <li><a href="/dressup">dress up!</a></li>
        <li><a href="/more">more</a></li>
      </ul>

      <ul id="user-nav">
<!--        <li>login / register</li>-->
      </ul>
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>


</div>

{% block scripts %}{% endblock %}

</body>
</html>