<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Little Rats!</title>
<!--  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!--  mobile responsiveness-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>

<div class="page">

  <nav>
    <img src="{{url_for('static', filename='assets/logo.png') }}" alt="Logo" id="logo">

    <div id="navbar">
      <ul id="site-nav">
        <li><a href="/">home</a></li>
        <li><a href="/users">users</a></li>
        <li><a href="/items">items</a></li>
        <li><a href="/rats">rats</a></li>
      </ul>

      <ul id="user-nav">
<!--        <li>login / register</li>-->
      </ul>
    </div>
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>


</div>

</body>
</html>