{% extends 'base.html' %}

{% block content %}
<section class="content">
    <h1>Dressup Demo</h1>
    <p>Here you can try out the dress-up game. It's currently in alpha testing, so there may be some bugs. Free wallpapers are by Hubble!</p>
    <h3>Instructions</h3>
    <p>Select a user and a rat from the drop-down selectors below to the right.</p>
    <p>Click on an item in the hotbar to add it to the scene, and drag it to position.</p>
    <p>Right click on an item to remove it from the scene.</p>
    <p>This is just an early game demo, so there is no way to save a scene yet, but you can screenshot it to keep it.</p>

    <div class="dressup-game-window">

        <div class="dressup-stage">
            <div class="foreground-items">

            </div>
            <div class="dressup-doll">
                <img src="{{ url_for('static', filename='rats/rat_1.png') }}">
            </div>
            <div class="background-items">

            </div>
            <div class="dressup-wallpaper">

            </div>
        </div>

        <div class="dressup-navigation">
            <div class="dressup-select">
                <div class="dressup-items">
                    Select items here after choosing a rat
                </div>
                <div class="dressup-wallpapers">
                    Select Wallpapers here after choosing a rat
                </div>
            </div>
            <div class="account-select">
                <div class="select-user">
                    Select a user
                </div>
                <div class="select-rat">
                    Select a rat after choosing a user
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dressup.js') }}"></script>
{% endblock %}