{% extends 'base.html' %}

{% block content %}
<section id="splash" class="content">
    <div id="splash-title" class="dynapuff-regular">
        <svg class="splash-svg" viewBox="0 0 300 120" aria-hidden="true">
            <defs>
                <path id="curve" d="M 20 90 Q 150 20 280 90" />
            </defs>

            <text class="splash-text">
                <textPath href="#curve" startOffset="50%" text-anchor="middle">
                    Little Rats!
                </textPath>
            </text>
        </svg>
    </div>

    <ul id="splash-nav">
        <li>
            <a href="/info"><img src="{{url_for('static', filename='assets/info.png')}}" alt="info">
            <p class="cherry-bomb-one-regular">info centre</p></a>
        </li>
        <li>
            <a href="/registry"><img src="{{url_for('static', filename='assets/scroll.png')}}" alt="registry">
            <p class="cherry-bomb-one-regular">registry</p></a>
        </li>
        <li>
            <a href="/adoptions"><img src="{{url_for('static', filename='assets/heart.png')}}" alt="adoptions">
            <p class="cherry-bomb-one-regular">adoptions</p></a>
        </li>
        <li>
            <a href="https://discord.com/invite/bkDNFH8TQ6"><img src="{{url_for('static', filename='assets/discord.png')}}" alt="discord">
            <p class="cherry-bomb-one-regular">discord</p></a>
        </li>
        <li>
            <a href="/circus"><img src="{{url_for('static', filename='assets/letter.png')}}" alt="circus">
            <p class="cherry-bomb-one-regular">rat circus</p></a>
        </li>
    </ul>
</section>
{% endblock %}