{% extends 'base.html' %}

{% block content %}
<section class="content">
    <h1>Info Centre</h1>
    <p>Welcome to the info centre, where you can learn all about little rats.</p>
    <h1>What's a Little Rat?</h1>
    <p>A little rat is a small, pony-like creature with mousey ears and a ratty tail. They scamper, they scurry, they live in your walls. They have little rat teeth that they use to eat your insulation and bite your ankles.</p>
    <p>Lil' rats are based on shetland ponies: short, stocky, with a bouncy and scampery gallop and penchant for mischief. But if you want to characterise your rat in a different way then you can! Little rats is a very flexible species and this is just a starting point.</p>
    <h1>What are the rules?</h1>
    <p>There aren't any rules at the moment. It's a very chill space, and we won't make any rules until we need one. Just be nice and have fun!</p>
    <h1>What can I do with my rat?</h1>
    <p>Anything you want! You can make minor changes like eye colour or markings, you can change the height, name, gender, etc, to your liking. You can role-play them anywhere you like, draw them with accessories, and give them magic if needed.</p>
    <h1>How can I get one?</h1>
    <p>Check on the adoptions page or head to the registry to upload your own design.</p>
    <h1>What can they look like?</h1>
    <p>Currently, rats released by the Rats Adoption Team (the R.A.T) are mostly natural colours and patterns, with some occasional rare exceptions. MYO rats can have any design, colours, or patterns that you like. </p>
    </section>
{% endblock %}