{% extends 'base.html' %}

{% block content %}
<section class="content">
  <h1>Links</h1>
  <ul>
    <li><a href="https://www.chickensmoothie.com/Forum/viewtopic.php?f=123&t=5024742">Chickensmoothie Rats Adoption Team (R.A.T) Adopts Topic</a></li>
    <li><a href="https://www.chickensmoothie.com/Forum/viewtopic.php?f=31&t=5052063">Chickensmoothie Make-Your-Own (MYO) Topic</a></li>
    <li><a href="https://www.chickensmoothie.com/Forum/viewtopic.php?f=125&t=5024803">Chickensmoothie Info Centre</a></li>
  </ul>
</section>
{% endblock %}