{% extends 'base.html' %}

{% block content %}
<section class="content">
  <h1>Registry</h1>
  <p>Because Little Rats is now an open species, we don't keep track of all the rats that are created. That's up to you, the owner!</p>
  <p>You can think of us like how a passport agency works for real horses. You can register your rats with us to keep track of them, whether they were created by our team of artists on the Original Rat Topic, or whether they were a custom design made under the Make-Your-Own thread.</p>
  <p>You'll get a rat passport page where you can keep track of all your rat's info, and even officially transfer ownership to another player. This isn't the best place to sotre art of your rat (as we're just a small site made by beginner developers), so feel free to link a toyhou.se profile for your rat. </p>
  <p>Old google sheets registry: https://docs.google.com/spreadsheets/d/1fmzSy3ViVJwgVoK0nU4_YjcMJPdbX8tKxVNge2sHDEU/edit?gid=0#gid=0</p>
</section>
{% endblock %}