{% extends 'base.html' %}

{% block content %}
<section class="content">
  <h1>Roadmap</h1>
  <p>Future updates I want to make to the site</p>
  <ul>
    <li>Ownership history for rats and trading system</li>
    <li>Registry MYO uploads</li>
    <li>user account logins and rat editing (name, bio, etc)</li>
    <li>Rat dressup</li>
    <li>build-a-rat rat creator tool</li>
    <li>Show/events record to list all past events and the results</li>
    <li>possible game dynamic for rat care or levelling up</li>
  </ul>
  <p>To do list:</p>
  <ul>
    <li>favicon</li>
    <li>logo refresh</li>
    <li>lines refresh</li>
    <li>homepage icons more polished</li>
  </ul>
  <p>Minigame ideas</p>
  <ul>
    <li>stocks minigame</li>
    <li>farming minigame?</li>
    <li>dressup</li>
    <li>pet care minigame?</li>
    <li>potion making minigame?</li>
    <li>flower breeding minigame?</li>

  </ul>
</section>
{% endblock %}