{% extends 'base.html' %}

{% block content %}
<section class="content">
    <a href="/users">← Back to Users</a>

    <div class="user-info">
        <div class="details-header">
            <h1>{{ user.name }}</h1>

            <div class="cs-link">
                {% if user.csid %}
                <a href="https://www.chickensmoothie.com/Forum/memberlist.php?mode=viewprofile&u={{ user.csid }}"
                   target="_blank"
                   rel="noopener noreferrer">
                    chickensmoothie profile #{{ user.csid }}
                </a>
                {% else %}
                <p>User's chickensmoothie account is not linked</p>
                {% endif %}
            </div>
        </div>
    </div>

    <h3>{{ user.name }}'s Trophy Shelf</h3>
    <div class="user-items">
        <ul>
            {% for item in inventory %}
            <li>
                <span class="quantity">{{ item.quantity }}</span>
                <h3>{{ item.name }}</h3>
                {% if item.image_path %}
                <img src="{{ url_for('static', filename=item.image_path) }}" alt="{{ item.name }}" width="100">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <h3>{{ user.name }}'s Rats</h3>
    <div class="user-rats">
        <ul>
            {% for rat in rats %}
            <a href="/rat/{{ rat.ratID }}">
            <li>
                <h3  class="capitalise">
                    {% if rat.name %}
                        {{ rat.name }}
                    {% else %}
                        Unnamed Rat
                    {% endif %}
                </h3>
                {% if rat.image_path %}
                <img src="{{ url_for('static', filename=rat.image_path) }}" alt="{{ rat.name }}">
                {% endif %}
            </li>
            </a>
            {% endfor %}
        </ul>
    </div>

</section>
{% endblock %}