body {
    font-family: Verdana;
    background-color: #8EBA14FF;
    color: #0A8209FF;
    font-weight: bold;
}

    /* more colours */
    /* #588f26; */
    /* #708f1c; */
    /* #578B28FF
    d3b95b
    7FECE4FF*/

h1 {
    color: black;
}

.entryForm button {
    font-size: 18px;
    padding: 5px;
}

button {
    padding: 20px;
    font-size: 25px;
}

.split {
    display: flex;
    align-items: center;
}

#details-saved {
    padding: 20px;
    background-color: pink;
    color: blue;
}

#starting-position {
    padding: 20px;
    background-color: #a14a4a;
    color: black;
}

#player-position {
    padding: 20px;
    background-color: #588f26;
    color: #d3b95b;
}

#game-message {
    padding: 20px;
    background-color: #708f1c;
    color: #ffffff;
}

#roll-feedback {
    background-color: green;
    padding: 20px;
    color: orange;
}

#game-log {
    padding: 20px;
    background-color: #a14a4a;
    color: #1f1d1d;
}

