:root {
    --sky-blue: #7FECE4;
    --grass-green: #91BF12;
    --leaf-green: #589129;
    --logo-green: #008400;
    --dark-green: #024001;
    --forest-green: #032E00;
    --evergreen: #052500;
    --logo-orange: #FF8400;
    --straw-yellow: #DABF5C;
    --dandelion-yellow: #FEC80D;
    --daisy-white: #FDFEFC;
    --slate-grey: #1E1E1E;
    --tomato-red: #e74c3c;
    --cherry-red: #d62525;

    --sans-font: 'Nunito', sans-serif;
}

.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.dynapuff-regular {
               font-family: "DynaPuff", system-ui;
               font-optical-sizing: auto;
               font-weight: 700;
               font-style: normal;
               font-variation-settings:
                       "wdth" 100;
           }
.capitalise {
    text-transform: capitalize;
}
.centre-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("/static/assets/cursor.png"), auto;
}
a {
    all: unset;
}
body {
    background-color: var(--evergreen);
    font-family: var(--sans-font), sans-serif;
    color: var(--slate-grey);
}
main {
    width: 100%;
}
.page {
    margin: 2rem;
}

/* everything for base.html */
nav {
    background-color: var(--leaf-green);
    color: var(--daisy-white);
    border-radius: 1rem;
    max-width: 1200px;
    margin: 4rem auto;

    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
}
#navbar li:hover {
    text-decoration: underline;
}
#site-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    text-transform: capitalize;
    gap: 2rem;
    font-family: "Cherry Bomb One", system-ui;
}
#user-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
}
#logo {
    width: 100px;
    margin: 0.2rem 1rem;
}

/* everything for the index/homepage */
#splash {
    background-image: url("/static/assets/splash.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 70%;
    margin: 3rem auto;
    min-height: 650px;
    height: 70vh;
    position: relative;
    border-radius: 40% 1rem 1rem 1rem;
}
#splash-title {
    /*font-family: "Cherry Bomb One", system-ui;*/
    /* font-size: 4rem;*/
    /* position: relative;*/
     /*transform: rotate(-30deg);*/
     /*margin: 0 auto auto 0;*/
    /* color: var(--grass-green);*/
    /* text-shadow:*/
    /*         -3px -3px 0 var(--dandelion-yellow),*/
    /*         3px -3px 0 var(--dandelion-yellow),*/
    /*         -3px  3px 0 var(--dandelion-yellow),*/
    /*         3px  3px 0 var(--dandelion-yellow);*/
    /* z-index: 1;*/
    /*fill: var(--grass-green)*/
 }
.splash-svg {
    transform: rotate(-25deg);
    /*transform: rotate(-30deg);*/
    /*background-color: red;*/
    background-color: var(--straw-yellow);
    border-radius: 45%;
    padding: 2rem;
    margin-left: -4%;
    margin-top: -1%;
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    inset: 0;
    max-width: 450px;
    pointer-events: none;
    z-index: 1;
    /*transform: rotate(-45deg);*/
    /*transform-origin: center;*/
}
.splash-text {
    fill: var(--slate-grey);
    stroke: var(--daisy-white);
    font-size: 48px;
    stroke-width: 6px;
    paint-order: stroke fill;
}
#splash-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 2;
    position: relative;
}
#splash-nav li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100px;
    max-height: 100px;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    transition: transform 1s ease, filter 0.5s ease;
}
#splash-nav p {
    font-size: 1.75rem;
    padding: 0;
    line-height: 1.5rem;
    text-transform: capitalize;
    transform: rotate(-15deg);
    margin-top: -2rem;
    margin-left: 2rem;
    filter: drop-shadow(0 0 5px var(--daisy-white));
    color: var(--slate-grey);
}
#splash-nav img {
    width: 100px;
}
#splash-nav li:hover {
    transform: translateY(-1rem);
    animation: bob 2s ease infinite;
    filter: drop-shadow(0 0 10px var(--daisy-white))
    drop-shadow(0 0 20px var(--daisy-white));
}
@keyframes bob {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-0.5rem); }
}
#splash-nav li:nth-child(1) { margin-left: 65%; }
#splash-nav li:nth-child(2) { margin-left: 45%; margin-top: -6%; }
#splash-nav li:nth-child(3) { margin-left: 27%; margin-top: -4%;}
#splash-nav li:nth-child(4) { margin-left: 15%; }
#splash-nav li:nth-child(5) { margin-left: 7%; }

/* main content block for page content */
.content {
    background-color: var(--straw-yellow);
    color: var(--slate-grey);
    border-radius: 1rem;
    max-width: 1200px;
    padding: 2rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}
.content h1 {
    font-family: "Cherry Bomb One", system-ui;
    font-size: 3rem;
}
.content a {
    text-decoration: underline;
}
.content a:hover {
    font-weight: bold;
}
.content p {
    padding: 0.5rem;
}

/* buttons : reusable button classes */
.square-button {

}
.rounded-button {

}

/* Rat Page (profile)*/
/*todo: some of these classes are redundant, rat pages need work*/
.rat-info {
    display: flex;
    flex-direction: column;
}
.details-header {
    /*background-color: var(--cherry-red);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-between;
}
.rat-image {
    margin: 1rem auto;
    /*box-sizing: initial;*/
    /*align-content: center;*/
    display: flex;
    border-radius: 1rem;
    border: 4px solid var(--slate-grey);
}
.rat-image img {
    width: 100%;
}
.bio {
    display: flex;
    flex-direction: row;
}
.bio-separator {
    display: flex;
    flex-direction: row;
}
.id-card, .bio-data, .passport {
    display: flex;
    padding: 1rem;
    min-width: fit-content;
    flex-direction: row;
    border-radius: 1rem;
    margin: 1rem;
    gap: 1rem;
}
.id-card {
    color: var(--daisy-white);
    background-color: var(--slate-grey);
    border: 4px solid var(--daisy-white);
}
.id-card a {
    all: unset;
}
.id-card a:hover {
    all: unset;
    color: var(--grass-green);
    text-decoration: underline;
}
.passport {
    border: 3px solid var(--slate-grey);
    border-radius: 1rem;
}
.passport img {
    max-width: 50px;
    width: 100%;
}
.bio-data {
    color: var(--slate-grey);
    background-color: var(--grass-green);
    border: 4px solid var(--logo-green);
}
.id-card h2 {
    margin: 1rem;
}
.id-card img {
    max-width: 150px;
    width: 100%;
    height: 100%;
    background-color: var(--daisy-white);
    border-radius: 1rem;
}
.id-info {
    display: flex;
    flex-direction: column;
}

/* User Page (profile) */
.user-info {
    padding: 1rem;
}
.user-info h1 {
    font-family: "Cherry Bomb One", system-ui;
    font-size: 4rem;
}
.user-items, .user-rats {
    border: 2px solid black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;
    background-color: var(--slate-grey);
}
.user-items ul, .user-rats ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem;
}
.user-items li, .user-rats li {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 2rem;
    align-items: center;
    align-content: center;
    padding: 1rem;
    /*width: 32%;*/
    gap: 1rem;
    position: relative;
    background-color: var(--straw-yellow);
}
.user-rats li:hover {
    border: 2px solid var(--daisy-white);
}
.user-rats a {
    all: unset;
}
.user-items h3, .user-rats h3 {
    font-size: .9rem;
    border-radius: 1rem;
    background-color: var(--daisy-white);
    padding: 0.5rem;
    /*margin: 0.5rem;*/
}
.user-items img, .user-rats img {
    /*padding: 1rem;*/
    max-height: 200px;
    /*max-width: 32%;*/
    width: auto;
}
.user-items .quantity {
    background-color: var(--grass-green);
    border-radius: 50%;
    border: 3px solid var(--daisy-white);
    /*padding: 0.5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--daisy-white);
    font-weight: bold;
}
.cs-link a {
    all: unset;
    font-weight: bold;
    display: inline-block;
    background-color: var(--sky-blue);
    border-radius: 2rem;
    border: 3px solid var(--slate-grey);
    padding: 1rem;
}
.cs-link a:hover {
    /*font-weight: initial;*/
    font-weight: bold;
    /*color: white;*/
    /*border: 3px solid var(--daisy-white);*/
    background-color: var(--dandelion-yellow);
}

/* Users (list), Rats (list), Items (list) */
.user-list, .item-list, .rat-list, .adopts-list {
    display: flex;
    /*padding: 1rem;*/
    margin: 1rem;
}
.adopts-list li:hover {
    border: 4px solid var(--cherry-red);
    background-color: var(--tomato-red);
}
.item-list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
}
.user-list ul, .adopts-list ul, .rat-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
}
.user-list li {
    padding: 0.5rem;
}
.user-list a, .item-list li, .rat-list li, .adopts-list li {
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    border: 4px solid var(--daisy-white);
    background-color: var(--straw-yellow);
    border-radius: 2rem;
}
.user-list a:hover {
    background-color: var(--sky-blue);
}
.item-list a:hover, .rat-list a:hover {
    background-color: var(--logo-orange);
}
.image_link {
    all: unset !important;
}
.rat-icon:hover {
    filter: drop-shadow(0 0 10px var(--sky-blue));
}
.item-list li, .rat-list li {
    display: flex;
    gap: 1rem;
}
.item-list img {
    max-width: 50px;
}
.item-list .item-description {
    font-size: 0.8rem;
}
.item-list .item-owners {
    font-size: 0.6rem;
}
.rat-details p {
    padding: 0;
}
/* tabs container is for the year/months tabs on the items list page*/
.tabs-container {
    background-color: var(--grass-green);
    border-radius: 2rem;
    padding: 1rem;
}
.year-tabs button, .month-tabs button {
    all: unset;
    font-weight: bold;
    padding: 0.5rem;
    border: 3px solid var(--daisy-white);
    /*margin: 2px;*/
    background-color: var(--leaf-green);
    /*padding: 5px 10px;*/
    /*cursor: pointer;*/
    border-radius: 1rem;
}
.tabs-container button:hover {
    background-color: var(--grass-green);
}
.year-tabs button.active, .month-tabs button.active {
    background-color: var(--logo-orange);
}
.pagination {
    padding: 1rem;
}

.columns {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    gap: 1rem;
    margin: 3rem auto;
    max-width: 1200px;
}
.w80 {
    width: 80%;
}
.w70 {
    width: 70%;
}
.w60 {
    width: 60%;
}
.w40 {
    width: 40%;
}
.w30 {
    width: 30%;
}
.w20 {
    width: 20%;
}

/* Dress-up game */
.dressup-game-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.dressup-game-window > * {
    border-radius: 1rem;
    border: 4px solid var(--slate-grey);
    gap: 1rem;
    padding: 0.5rem;
}
.dressup-stage {
    box-sizing: initial;
    display: flex;
    width: 900px;
    height: 600px;
}
.dressup-navigation {
    display: flex;
    flex-direction: row;
    background-color: var(--daisy-white);
}
.dressup-navigation > * {
    border-radius: 1rem;
    border: 3px solid var(--slate-grey);
    gap: 1rem;
    padding: 0.5rem;
    min-height: 10px;
    min-width: 10px;
}
.dressup-select {
    display: flex;
    flex-direction: column;
    background-color: var(--grass-green);
}
.dressup-select > * {
    border-radius: 1rem;
    border: 3px solid var(--slate-grey);
    gap: 1rem;
    padding: 0.5rem;
    background-color: var(--leaf-green);
}
.dressup-wallpapers {

}
.dressup-items {

}
.account-select {
    display: flex;
    flex-direction: column;
    background-color: var(--dandelion-yellow);
}
.account-select > * {
    border-radius: 1rem;
    border: 3px solid var(--slate-grey);
    padding: 0.5rem;
    background-color: var(--leaf-green);
}

@media (max-width: 1100px) {
    #splash {
        background-size: 70% auto;
    }
}

@media (max-width: 950px) {
    .bio {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    #splash {
        border-radius: 50% 1rem 1rem 1rem;
    }
    .splash-svg {
        transform: rotate(-40deg);
        margin-left: -10%;
        margin-top: 5%;
    }
    #splash-nav li:nth-child(1) { margin-left: 75%; }
    #splash-nav li:nth-child(2) { margin-left: 50%; margin-top: -6%; }
}
